@model Microsoft.AspNetCore.Identity.IdentityRole
@using BookShopMvc.Models;

<div id="page-wrapper">
    <div class="main-page">
        <h4>Add Category</h4>
        <div class="col-12">
            <div class="col-md-9">
                <form asp-action="Fix" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label>Name Roles</label>
                        <input asp-for="Name" class="form-control" id="title" />
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Fix</button>
                    </div>
                </form>
                <a>Back to List Role</a>
            </div>
        </div>
    </div>
</div>