@model Qotos.Models.Authentication.ChangePasswordModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Cài đặt tài khoản";
}

<div class="d-flex container my-5 pt-4">
	<div class="d-flex flex-column pe-5 flex-shrink-0">
		<h4 class="my-3">Cài đặt tài khoản</h4>
		<a href="/accounts/info" class="my-2 link-secondary">Cập nhật thông tin</a>
		<a href="/accounts/history" class="my-2 link-secondary">Lịch sử download</a>
		<a href="/accounts/changePassword" class="my-2 link-secondary link-underline-light">Thay đổi mật khẩu</a>
		<a href="/accounts/delete" class="my-2 link-secondary">Xoá tài khoản</a>
	</div>
	<div class="w-100">
		<h4 class="my-3">Thay đổi mật khẩu</h4>
		<form asp-action="changePassword" asp-asp-controller="accounts" method="post">
			<div class="mb-3">
				<label for="Password" class="form-label">Mật khẩu hiện tại</label>
				<input type="password" class="form-control" asp-for="Password" />
				<span asp-validation-for="Password"></span>
			</div>
			<div class="mb-3">
				<label for="NewPassword" class="form-label">Mật khẩu mới</label>
				<input type="password" class="form-control" asp-for="NewPassword" />
				<span asp-validation-for="NewPassword"></span>
			</div>
			<div class="mb-3">
				<label for="RepeatNewPassword" class="form-label">Nhập lại mật khẩu</label>
				<input type="password" class="form-control" asp-for="RepeatNewPassword" />
				<span asp-validation-for="RepeatNewPassword"></span>
			</div>
			<button type="submit" class="btn btn-dark w-100">Lưu</button>
		</form>
	</div>
</div>
@section js {
	<script>
		$(document).ready(() => {
			$("#File").change(function () {
				const file = this.files[0];
				if (file) {
					let reader = new FileReader();
					reader.onload = function (event) {
						$("#imgPreview")
							.attr("src", event.target.result);
					};
					reader.readAsDataURL(file);
				}
			});
		});
	</script>
}